<h1>Index</h1>

<% @urls.each do |url| %>
  <p><%= url.original_url%></p>
  <p><%= url.short_url %></p>

<% end %>

<%= form_for @url do |f| %>
  <%= f.label :original_url, "Original Url:" %>
  <%= f.url_field :original_url %>

  <%= f.label :short_url, "Short Url:" %>
  <%= f.url_field :short_url %>

  <%= f.submit %>
<% end %>