<h1>Index</h1>

<% @urls.each do |url| %>
  <p><%= url.original_url%></p>
  <p><%= "Short Url is : #{request.protocol}#{request.host}:#{request.port}/#{url.short_url}" %></p>

<% end %>

<%= form_for @url do |f| %>
  <%= f.label :original_url, "Original Url:" %>
  <%= f.url_field :original_url %>


  <%= f.submit %>
<% end %>